.banners {
  margin-bottom: 120px;

  .container {
    display: flex;
  }

  &__left {
    width: 100%;
    max-width: 570px;
    position: relative;
    margin: 10px 20px 10px 0;

    img {
      width: 100%;
    }

    &-info {
      position: absolute;
      left: 24px;
      bottom: 28px;
      background-color: #fff;
      max-width: 445px;
      padding: 30px 0 30px 38px;
      box-sizing: border-box;

      h2 {
        font-size: 28px;
        font-weight: 500;
        line-height: 38px;
        margin-bottom: 25px;
      }

      a {
        font-size: 16px;
        color: #111;
        font-weight: 500;

        span {
          &:first-child {
            margin-right: 15px;
          }
        }

        &:hover {
          color: #ff6f61;
        }
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
    }
  }

  &__right {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    max-width: 46%;
    border: 1px solid #f5f5f5;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 45px;
    margin: 10px;

    img {
      width: 100%;
      margin: 25px 0 15px;
    }

    h3 {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    span {
      font-size: 18px;
      color: #767676;
    }
  }
}
