.deals {
  margin-bottom: 100px;

  @media (max-width: 769px) {
    margin-bottom: 50px;
  }

  .container {
    padding-bottom: 56px;
    position: relative;

    @media (max-width: 769px) {
      padding-bottom: 30px;
    }
  }

  .section-title {
    @media (max-width: 769px) {
      margin-bottom: 15px;
    }
  }

  .section-subtitle {
    margin-bottom: 73px;

    @media (max-width: 769px) {
      margin-bottom: 35px;
    }
  }

  &__slider {
    margin: 0 -10px;
    &-item {
      max-width: 370px;
      padding-bottom: 50px;
      position: relative;

      a {
        color: #111;
      }

      img {
        max-width: 100%;
      }
    }

    &-info {
      width: 290px;
      position: absolute;
      padding: 20px 0;
      left: 50%;
      bottom: 0;
      text-align: center;
      background-color: #fff;

      h2 {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 11px;

        @media (max-width: 769px) {
          font-size: 18px;
        }
      }

      transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);

      @media (max-width: 1100px) {
        width: 250px;
      }

      @media (max-width: 920px) {
        width: 210px;
      }

      @media (max-width: 769px) {
        width: 180px;
      }

      @media (max-width: 670px) {
        width: 180px;
      }

      @media (max-width: 460px) {
        width: 150px;
      }
    }

    &-old-price {
      font-size: 16px;
      color: #a0a0a0;
      text-decoration: line-through;
      margin-right: 5px;

      @media (max-width: 769px) {
        font-size: 13px;
      }
    }

    &-new-price {
      font-size: 18px;
      color: #ff6f61;

      @media (max-width: 769px) {
        font-size: 14px;
      }
    }

    &-timer {
      position: absolute;
      top: 20px;
      left: 0;
      padding: 7px 12px;
      background-color: #ff6f61;

      font-size: 11px;
      font-weight: 500;
      color: #fff;
    }
  }

  .slick {
    &-list {
      overflow: hidden;
    }
    &-track {
      display: flex;
      justify-content: center;
    }
    &-slide {
      display: flex;
      justify-content: center;
      margin: 0 10px;
    }
    &-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      li {
        list-style: none;
        margin: 0 5px;
        &.slick-active {
          button {
            background-color: #ff6f61;
            opacity: 1;
          }
        }
      }
      button {
        font-size: 0;
        width: 8px;
        height: 8px;
        background-color: #cdcdcd;
        opacity: 0.4;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      transform: translate(-50%, 0);
      -webkit-transform: translate(-50%, 0);
      -moz-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
    }
  }
}
