.header {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: 985px) {
      justify-content: center;
    }

    @media (max-width: 611px) {
      justify-content: space-between;
    }
  }

  &__top {
    background-color: #f5f5f5;
    font-weight: 500;
    padding: 12px 0 13px;

    &-left {
      display: flex;

      @media (max-width: 985px) {
        margin-bottom: 15px;
      }
    }

    &-nav {
      display: flex;

      > li {
        display: flex;
        align-items: center;
        position: relative;
        padding-right: 35px;
        margin-right: 17px;
        cursor: pointer;

        &.active {
          &::before {
            top: 5px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
          }
        }

        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;

        img {
          width: 14px;
          height: 14px;
        }

        > span {
          margin-right: 8px;
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 5px;
          height: 5px;
          top: 2px;
          right: 25px;
          border-top: 1px solid #111111;
          border-right: 1px solid #111111;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }

        &:not(:last-child)::after {
          content: "";
          display: block;
          height: 10px;
          width: 0;
          position: absolute;
          top: 50%;
          right: 0;
          border-right: 1px solid #cdcdcd;
          transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
        }

        img {
          margin-right: 10px;
        }
      }
    }
    &-right {
      display: flex;
    }

    @media (max-width: 611px) {
      display: none;
    }
  }

  &__countries {
    width: 160px;
    position: absolute;
    top: 27px;
    left: -20px;
    background-color: #f5f5f5;
    padding: 10px 10px 10px 20px;
    z-index: 2;
    border-top: 1px solid #111;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
    }

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    &-item {
      margin-bottom: 10px;
      cursor: pointer;

      img {
        margin-right: 7px !important;
      }

      &:hover {
        color: #ff6f61;
      }

      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }

    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
  }

  &__currency {
    width: 60px;
    position: absolute;
    top: 27px;
    left: -20px;
    padding: 10px 10px 10px 20px;
    z-index: 2;
    background-color: #f5f5f5;
    border-top: 1px solid #111;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
    }

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    &-item {
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        color: #ff6f61;
      }

      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }

    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
  }

  &__languages {
    width: 70px;
    position: absolute;
    top: 27px;
    left: -20px;
    padding: 10px 10px 10px 20px;
    z-index: 2;
    background-color: #f5f5f5;
    border-top: 1px solid #111;

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
    }

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    &-item {
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        color: #ff6f61;
      }

      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
  }

  &__free-shipping {
    display: flex;
    align-items: center;
    font-size: 11px;
    text-transform: uppercase;
    margin-right: 75px;

    span {
      font-weight: 600;
    }

    img {
      margin-right: 15px;
    }
  }

  &__faq {
    display: flex;
    align-items: center;
    margin-right: 75px;

    li {
      margin: 0 15px;

      &:hover {
        a {
          color: #ff6f61;
        }
      }
    }
  }

  &__social {
    display: flex;
    align-items: center;

    li {
      margin: 0 7px;

      &:hover {
        a {
          color: #ff6f61;
        }
      }
    }

    a {
      color: #a0a0a0;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;

    @media (max-width: 611px) {
      padding: 25px 0;
    }
  }

  &__burger {
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;

    span {
      position: absolute;
      background-color: #111;
      width: 100%;
      left: 0;
      height: 2px;
      top: 9px;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }

    &::before,
    &::after {
      content: "";
      background-color: #111;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    &.active {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(45deg);
        top: 9px;
      }
      &::after {
        transform: rotate(-45deg);
        bottom: 9px;
      }
    }

    @media (max-width: 611px) {
      display: block;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 600;
    margin-right: 20px;
  }

  &__menu {
    display: flex;

    li {
      padding: 0 5px;
      margin: 0 10px;
      font-size: 16px;
      position: relative;

      &.active {
        a {
          color: #ff6f61;

          &::after {
            width: 100%;
          }
        }
      }

      a {
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;

        &:hover {
          color: #ff6f61;
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 1px;
          background-color: #ff6f61;
          position: absolute;
          bottom: -4px;
          left: 0;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }
      }
    }

    @media (max-width: 611px) {
      display: none;
    }
  }

  &__icons {
    display: flex;
    align-items: center;

    li {
      margin: 0 10px;
      position: relative;
    }

    @media (max-width: 745px) {
      margin-top: 15px;
    }

    @media (max-width: 611px) {
      display: none;
    }
  }

  &__mobile {
    position: fixed;
    top: 75px;
    //right: -100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding: 20px 0;
    background-color: #fff;
    z-index: 3;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

    transform: translate(120%, 0);
    -webkit-transform: translate(120%, 0);
    -moz-transform: translate(120%, 0);
    -ms-transform: translate(120%, 0);
    -o-transform: translate(120%, 0);

    &.active {
      overflow: auto;

      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
    }

    li {
      margin: 15px 0;
      text-align: center;

      img {
        width: 24px;
        height: 24px;
      }

      a {
        &:hover {
          color: #ff6f61;
        }
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
      }
    }

    &-social,
    &-user {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin: 10px 10px;
      }
    }

    &-user {
      li {
        position: relative;
      }
    }

    &-selects {
      > li {
        position: relative;
        cursor: pointer;
        // padding-right: 45px;
        // margin-right: 17px;

        &.active {
          &::before {
            top: 10px;
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
          }
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 10px;
          height: 10px;
          top: 4px;
          right: 35px;
          border-top: 1px solid #111111;
          border-right: 1px solid #111111;
          transform: rotate(135deg);
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -ms-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }

        &:not(:last-child)::after {
          content: "";
          display: block;
          height: 20px;
          width: 0;
          position: absolute;
          top: 50%;
          right: -10px;
          border-right: 2px solid #cdcdcd;
          transform: translate(0, -50%);
          -webkit-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
        }
      }

      .header__countries {
        width: 100%;
        background-color: #fff;
        top: 30px;
        left: 0;
        padding: 10px 10px;

        li {
          text-align: center;
          margin: 15px 10px 15px 0;

          img {
            margin-right: 0px !important;
          }
        }
      }

      .header__currency {
        width: 100%;
        background-color: #fff;
        top: 30px;

        li {
          text-align: center;
          margin: 15px 0;
        }
      }

      .header__languages {
        width: 100%;
        background-color: #fff;
        top: 30px;

        li {
          text-align: center;
          margin: 15px 0;
        }
      }
    }
  }
}
