.rooms {
  width: 100%;
  padding: 97px 0 110px;
  margin-bottom: 100px;
  background-color: #f5f5f5;

  .section-title {
    margin-bottom: 80px;
  }

  &__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__item {
    width: 570px;
    display: flex;
    margin: 15px;

    img {
      width: 47%;
    }
  }

  &__category {
    width: 53%;
    // width: 100%;
    padding: 44px 0 0 50px;
    background-color: #fff;

    p {
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  &__list {
    &-item {
      a {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #525252;

        &::after {
          display: block;
          content: "\2192";
          margin-left: 10px;
          color: #111;
          font-size: 0;

          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }

        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;

        &:hover {
          color: #111;

          &::after {
            font-size: 16px;
          }
        }
      }
      margin-bottom: 15px;
    }
  }
}
